---
title: Links
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>LINKS</h2>
</div>

<main class="links-content">
    <ul class="links-list">
        {% for link in site.data.links %}
        <li>
            <a class="link-style" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}  |  {{ link.desc }}</a>
        </li>
        {% endfor%}
    </ul>
</main>
    
{% include footer.html %}
